#toolbar .tool {
    opacity: 0.5
}

#toolbar .tool:hover {
    opacity: 1
}

.editableComponentContainer.edited {
    border: 1px solid var(--joy-palette-neutral-300);
    border-radius: 20px;
}

#header.historical {
    background: var(--joy-palette-primary-700);
}

#header.historical .MuiTypography-root {
    color: var(--joy-palette-neutral-100);
}
